<div id="palm-dialog-content" class="palm-dialog-content">
	<div class="palm-dialog-title">Connect to Session</div>
	<div class="textfield-group" x-mojo-focus-highlight="true">
		<div class="title">
			<div class="label">Session Code</div>
      <div id="session_code" name="session_code" x-mojo-element="TextField"></div>
		</div>	
  </div>
</div>
<div class="palm-dialog-buttons">
	<div id="create_button" class="palm-button" x-mojo-touch-feedback="immediatePersistent">
    <div class="palm-button-wrapper" x-mojo-loc="">Create Session</div>
  </div>
	<div id="join_button" class="palm-button" x-mojo-touch-feedback="immediatePersistent">
    <div class="palm-button-wrapper" x-mojo-loc="">Join Session</div>
  </div>
  <div id="cancel_button" class="palm-button" x-mojo-touch-feedback="immediatePersistent">
    <div class="palm-button-wrapper" x-mojo-loc="">Cancel</div>
  </div>
</div>
<!--div class="palm-dialog-separator"></div-->

