<div id="main" class="palm-hasheader">
	<div class="palm-header center">Shooty Mobile</div>
</div>

<div x-mojo-element="Button" id="btnConnect"></div>
<div x-mojo-element="TextField" id="txtCode"></div>
<div x-mojo-element="Button" id="btnJoin"></div>

<table class="palm-list-section-label">
	<tr>
	  <td><span>Publish Data</span></td>
		<td><div id="publish-data" x-mojo-element="ToggleButton" class="toggle-text"></div></td>	
	</tr>
	<tr>
	  <td><span>Connection Type</span></td>
		<td><div id="connection-type" x-mojo-element="ToggleButton" class="toggle-text"></div></td>	
  </tr>
	<tr>
	  <td><span>Fast Accelerometer</span></td>
		<td><div id="fast-acc" x-mojo-element="ToggleButton" class="toggle-text"></div></td>	
  </tr>
</table>

<div id="accx" name="accx" class="palm-body-text">0</div>
<div id="accy" name="accy" class="palm-body-text">0</div>
<div id="accz" name="accz" class="palm-body-text">0</div>
<div id="pitch" name="pitch" class="palm-body-text">0</div>
<div id="roll" name="roll" class="palm-body-text">0</div>
<div id="time" name="time" class="palm-body-text">0</div>
