<div class='title'>
<span id="conn_status">Connecting to Phi-Server...</span>
<div id="conn_spinner" class='right' x-mojo-element="Spinner"></div>
</div>

<div id="input_div" style="display:none">
<div class="textfield-group" x-mojo-focus-highlight="true">
  <div class="title">
    <div class="label">Session Code</div>
    <div id="session_code" name="session_code" x-mojo-element="TextField"></div>
  </div>	
</div>
  
<table class="palm-list-section-label">
	<tr>
	  <td><div x-mojo-element="Button" id="btn0"></div></td>
	  <td><div x-mojo-element="Button" id="btn1"></div></td>
	  <td><div x-mojo-element="Button" id="btn2"></div></td>
	  <td><div x-mojo-element="Button" id="btn3"></div></td>
	  <td><div x-mojo-element="Button" id="btnDel"></div></td>
	</tr>
	<tr>
	  <td></td>
	  <td><div x-mojo-element="Button" id="btn4"></div></td>
	  <td><div x-mojo-element="Button" id="btn5"></div></td>
	  <td><div x-mojo-element="Button" id="btn6"></div></td>
    <td></td>
 	</tr>
  <tr>
	  <td></td>
	  <td><div x-mojo-element="Button" id="btn7"></div></td>
	  <td><div x-mojo-element="Button" id="btn8"></div></td>
	  <td><div x-mojo-element="Button" id="btn9"></div></td>
    <td></td>
 	</tr>
</table>
<div x-mojo-element="Button" id="btnJoin"> </div>
<div x-mojo-element="Button" id="btnJoinAM"> </div>

</div>
