<div class='title'>
  <span id="conn_status">Connecting to Phi-Server...</span>
  <div id="conn_spinner" class='right' x-mojo-element="Spinner"></div>
</div>

<div id="input_div" style="display:none">
  <div class="textfield-group" x-mojo-focus-highlight="true">
    <div class="title">
      <div class="label">Session Code</div>
      <div id="session_code" name="session_code" x-mojo-element="TextField"></div>
    </div>	
  </div>

  <div class="textfield-group" x-mojo-focus-highlight="true">
    <div class="title">
      <div class="label">Player Name</div>
      <div id="player_name" name="player_name" x-mojo-element="TextField"></div>
    </div>	
  </div>

  <div x-mojo-element="Button" id="btnJoin"> </div>
  <div x-mojo-element="Button" id="btnJoinAM"> </div>
</div>
