#bgdiv {
  margin: 0;
  width: 1280px;
  height: 800px;
  /*background-image: url(./graphics/bg.png);*/
}

canvas {
  margin: 0;
  /*border: 2px solid #88f;*/
}

body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: 'Permanent Marker', Arial, sans;
  color: #555;
}
