body.relative-bg {
  background-image: url(../images/bg_relative.png);
}

body.absolute-bg {
  background-image: url(../images/bg_absolute.png);
}

div#controller-div {
  width: 480px;
  height: 320px;
}
